extends index

block content
  - if (user.role === 'admin')
    include admin
  - else if (user.role === 'teacher')
    include teacher
  - else if (user.role === 'student')
    include student

  
    
