extends index

block content
  .container
    .row.justify-content-center
      .col-lg-8.col-md-12.col-sm-16
        form#studentInfoForm
          a(href="javascript:history.back()")
            .text-start.mb-3
              button#backButton.btn.btn-link(type='button')
                | &larr; Back
          h2.text-center.mb-4 Student Information Form
          .mb-3
            label.form-label(for='student_id') Student ID
            input#student_id.form-control(type='text' name='student_id' required)
          .mb-3
            label.form-label(for='student_name') Student Name
            input#student_name.form-control(type='text' name='student_name' required)
          .mb-3
            label.form-label(for='infType') Infraction Type
            select#infType.form-control(name='infType' required='')
              option(value='' selected='' disabled='') Select an option
              option(value='Late') Late
              option(value='Skipping') Skipping
              option(value='Disturbance') Disturbance
              option(value='Distracted') Distracted
              option(value='Misbehaving') Misbehaving
              option(value='Other') Other
          .mb-3
            label.form-label(for='bgrade') BGrade
            select#bgrade.form-control(name='bgrade' required='')
              option(value='' selected='' disabled='' ) Select an option
              option(value='1') 1 
              option(value='2') 2 
              option(value='3') 3 
              option(value='4') 4 
              option(value='5') 5 
              option(value='6') 6 
              option(value='7') 7 
              option(value='8') 8 
              option(value='9') 9 
              option(value='10') 10 
          .mb-3
            label.form-label(for='classID') Class ID
            input#classID.form-control(type='text' name='classID' required)
          .mb-3
            label.form-label(for='Description') Description 
            input#Description.form-control(type='text' name='Description')  
          button#submitButton.btn.btn-primary.w-100.mx-auto(type='submit' value='Submit')
            | Submit