extends index

block content
  .container
    .row.justify-content-center
      .col-lg-8.col-md-12.col-sm-16
        form#studentInfoForm
          a(href="javascript:history.back()")
            .text-start.mb-3
              button#backButton.btn.btn-link(type='button')
                | &larr; Back
          h2.text-center.mb-4 Student Information Form
          .mb-3
            label.form-label(for='student_id') Student ID
            input#student_id.form-control(type='text' name='student_id' required)
          .mb-3
            label.form-label(for='student_name') Student Name
            input#student_name.form-control(type='text' name='student_name' required)
          .mb-3
            label.form-label(for='infType') Infraction Type 
            input#infType.form-control(type='text' name='infType' required)
          .mb-3
            label.form-label(for='bgrade') BGrade
            input#bgrade.form-control(type='text' name='bgrade' required)
          .mb-3
            label.form-label(for='Description') Description 
            input#Description.form-control(type='text' name='Description')  
          button#submitButton.btn.btn-primary.w-100.mx-auto(type='submit' value='Submit')
            | Submit