extends index

block content
  .container.mt-5
    h1.text-left Welcome to BKeeper
    .row.mt-4
      .col-md-6
        p
          | The BKeeper project intends to be an effective tool for school districts to implement in their classrooms.
          | It will bring necessary support, guidance, and data to assist in classroom management from all levels, teachers to administrators.
          | BKeeper bring its users an interface that is both user friendly and informational.
        // Add your image here if needed
      .col-md-6
        // Add your image here if needed
  .container.mt-5
    h2 About
    p
      | The BKeeper project came about as our senior project, with the goal to utilise all we have learnt throught the semester.
      | The project allowed us to delve deeper into concepts we were familiar allwhile learning new ones.
    ul
      li Jongho Park, Back-End
      li Manuel Gonzalez, Front-End
      li Abdoul Karim Konate, Project Manager
      // Add more creator names if needed