extends index 

block content
  .container
    .row.justify-content-center
      .col-lg-4.col-md-6.col-sm-8
        form#passwordForm
          a(href='/')
            .text-start.mb-3
              button#backButton.btn.btn-link(type='button')
                | &larr; Back
          h2.text-center.mb-4 Request Account
          .mb-3
            label.form-label(for='password') Password
            input#password.form-control(type='password' placeholder='••••••••', required, minlength='8')
          .mb-3
            label.form-label(for='passwordConfirm') Confirm password
            input#passwordConfirm.form-control(type='password' placeholder='••••••••', required, minlength='8')
          button#SetPasswordBtn.btn.btn-primary.w-100.mx-auto(type='submit')
            | Set password
          p#missingFieldsMessage.text-center.mt-3.text-danger.fw-bold(style='display: none')
            | Please fill out all the fields
  //- #thankYouContainer.container(style='display: none')
  //-   .row.justify-content-center
  //-     .col-lg-8.col-md-10
  //-       .alert.alert-success.text-center.mt-4.thank-you-message(role='alert')
  //-         | Thank you for requesting an account! Check your email for updates.
  //- #countdownContainer.container(style='display: none')
  //-   .row.justify-content-center
  //-     .col-lg-8.col-md-10
  //-       #countdownMessage.text-center.mt-4(role='alert')
  //-         | Redirecting page in 
  //-         span#countdownTime 5
  //-         |  seconds...
  //- script(src='/js/setPassword.js')
