.container.mt-4
  .row
    // Left Section: Chart with Slots and Calendar
    .col-md-6
      .chart-with-slots
      h2 Teacher's Page
        h3 Classes
        .row
          .col-md-12.mb-2
            button.btn.btn-secondary.w-100(data-period='1' data-class='Math101') Period 1
          .col-md-12.mb-2
            button.btn.btn-secondary.w-100(data-period='2' data-class='Science101') Period 2
          .col-md-12.mb-2
            button.btn.btn-secondary.w-100(data-period='3' data-class='History101') Period 3
          .col-md-12.mb-2
            button.btn.btn-secondary.w-100(data-period='4' data-class='English101') Period 4
          .col-md-12.mb-2
            button.btn.btn-secondary.w-100(data-period='5' data-class='Lunch') Period 5
          .col-md-12.mb-2
            button.btn.btn-secondary.w-100(data-period='6' data-class='PE101') Period 6
          .col-md-12.mb-2
            button.btn.btn-secondary.w-100(data-period='7' data-class='Art101') Period 7
          .col-md-12.mb-2
            button.btn.btn-secondary.w-100(data-period='8' data-class='Music101') Period 8
      div
        h3 Calendar
        #calendar
    // Right Section: Graph
    .col-md-6
      .search-bar
        .input-group.mb-3
          input.form-control.search-input(type='text')
          button#searchButton.btn.btn-primary Search
      h3 Notifications
      .notification-box.bg-secondary.p-3
        // Notification content goes here
        p This is a notification.
      h3 Graph
      .graph-container
        .graph
          canvas#myChart
      
      a(href='/metricsIntake')
        button#loginPageBtn.btn.btn-primary.mx-2(type='button')
          | Enter new metrics